@charset "UTF-8";

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #fed136;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #fed136;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #fed136;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

table {
  table-layout: fixed;
  width: 100%;
  padding: 0 0 150px 0;
}

.d4{
  width: 100%;
  padding: 200px 200px;
}

.d5{
  width: 30%;
}

.d6{
  width: 65%;
}

.d7{
  width: 5%;
}

.y8{
  width: 15%;
}
.y9{
  width: 20%;
}

td{
padding: 5px 5px 5px 5px;
  border: 3px solid #000;
}

.d2 {
  text-align: justify;
  border: 3px solid #000;
}

.j1 {
  background-color: #fd7e14;
 color: white;
 padding: 10px 20px;
 text-decoration: none;
 border-radius: 6px;
}

nav {
display: flex;
/* s */
background-color: #000000;
justify-content: space-between;
padding-left: 30px;
padding-right: 30px;
align-items: center;
height: 55px;
color: #ffffff;
}
#lado1 {
  display: flex;
  flex-direction: row;
}
#lado2 {
  display: flex;
  flex-direction: row-reverse;
}
footer {
  display: flex;
  /* s */
  background-color: #000000;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  height: 55px;
  color: #ffffff;
}

.t7 {
  width: 60%;
  height: 60%;
}
.t8 {
  width: 35%;
  height: 35%;
}